node_modules/
.env
dist/
.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Keys
*.pem

# Windows installers
*.msi
*.log
*.txt
*.sh
*.ps1
*.groovy
